body {
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: black;
}

h1 {
  line-height: 1;
  color: #ffffff;
}

h2 {
  color: #fffff;
}

p {
 color: #ffffff;
}

code {
  border-radius: 5px;
  background-color: #4B403D;
  color: #ffffff;
  display: inline-block;
  padding: 0 8px;
  font-family: Consolas, Courier, monospace;
}
